---
import Layout from '@/layouts/Layout.astro'

import About from '@/components/index/sections/About.astro'
import Education from '@/components/index/sections/Education.astro'
import Experience from '@/components/index/sections/Experience.astro'
import Hero from '@/components/index/sections/Hero.astro'
import Projects from '@/components/index/sections/Projects.astro'
import Skills from '@/components/index/sections/Skills.astro'

import { basics } from '@cv'
const { name, label } = basics
---

<Layout title={`Portafolio de ${name} - ${label}`}>
  <main>
    <Hero />
    <About />
    <Experience />
    <Education />
    <Projects />
    <Skills />
  </main>
</Layout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }

  @media (width <= 700px) {
    main {
      padding: 2rem;
    }
  }
</style>
