---
import Section from '@/components/index/Section.astro'

import { basics } from '@cv'
const { summary } = basics
---

<Section title="Sobre mí">
  <p class="text-gray-500 text-sm text-pretty">
    {summary}
  </p>
</Section>
