---
interface Props {
  href: string
  text: string
}

const { href, text } = Astro.props
---

<header>
  <a
    class="block mx-auto mt-8 border border-gray-200 rounded-lg bg-gray-700 text-gray-200 py-1 px-2.5 w-fit transition-all duration-300 ease-linear hover:cursor-pointer hover:bg-gray-200 hover:text-gray-700 hover:border-gray-700"
    href={href}
    target="_blank"
  >
    {text}
  </a>
</header>
