<section>
  <article
    class="flex flex-col items-center justify-center gap-4 sm:max-w-screen-sm mx-auto my-12"
  >
    <header>
      <h2
        class="uppercase text-5xl font-bold text-pretty text-center max-w-screen-sm"
      >
        Hola!soy guillermo ruiz
      </h2>
    </header>
    <p class="uppercase text-xl font-semibold text-pretty text-center">
      desarrollador fullstack y un marido ejemplar para mi sarita
    </p>
    <span class="uppercase text-xl font-semibold">la quiero mucho</span>
  </article>
</section>
