---
interface Props {
  href: string
  children: string
}
const { href, children } = Astro.props
const isExternal = href && !href.startsWith('/')
---

<a
  href={href}
  target={isExternal ? '_blank' : undefined}
  rel={isExternal ? 'noopener noreferrer' : undefined}
>
  {children}
</a>
