---
import { proyects } from '@proyects'
---

<section
  class="md:grid md:grid-cols-4 md:gap-4 md:max-w-3xl md:mx-auto border rounded-lg border-red-600"
>
  {
    proyects.map((proyect) => (
      <div
        class={`
          ${proyect.name === 'Primer proyecto Fullstack' && 'md:hover:bg-[url("https://codesthenos.github.io/CODESTHENOS-PORTFOLIO/projects/primer-proyecto-fullstack.png")] max-md:bg-[url("https://codesthenos.github.io/CODESTHENOS-PORTFOLIO/projects/primer-proyecto-fullstack.png")]'}
          ${proyect.name === 'Nodepop' && 'md:hover:bg-[url("https://codesthenos.github.io/CODESTHENOS-PORTFOLIO/projects/nodepop.png")] max-md:bg-[url("https://codesthenos.github.io/CODESTHENOS-PORTFOLIO/projects/nodepop.png")]'}
          ${proyect.name === 'Juego StackTower' && 'md:hover:bg-[url("https://codesthenos.github.io/CODESTHENOS-PORTFOLIO/projects/juego-stack-tower.webp")] max-md:bg-[url("https://codesthenos.github.io/CODESTHENOS-PORTFOLIO/projects/juego-stack-tower.webp")]'}
          ${proyect.name === 'Dashboard' && 'md:hover:bg-[url("https://codesthenos.github.io/CODESTHENOS-PORTFOLIO/projects/dashboard.jpg")] max-md:bg-[url("https://codesthenos.github.io/CODESTHENOS-PORTFOLIO/projects/dashboard.jpg")]'}
          ${proyect.name === 'API JWT cookie auth' && 'md:hover:bg-[url("https://codesthenos.github.io/CODESTHENOS-PORTFOLIO/projects/api-jwt-cookie-auth.png")] max-md:bg-[url("https://codesthenos.github.io/CODESTHENOS-PORTFOLIO/projects/api-jwt-cookie-auth.png")]'}
          ${proyect.name === 'Ejemplo de portfolio' && 'md:hover:bg-[url("https://codesthenos.github.io/CODESTHENOS-PORTFOLIO/projects/ejemplo-de-portfolio.png")] max-md:bg-[url("https://codesthenos.github.io/CODESTHENOS-PORTFOLIO/projects/ejemplo-de-portfolio.png")]'}
          ${proyect.tailwindClasses}
          bg-contain bg-center flex flex-col items-center justify-center p-4 m-4 rounded-lg shadow-md`}
      >
        <h2 class="text-2xl font-bold text-gray-800">{proyect.name}</h2>
        <a href={proyect.github} class="mt-4 text-blue-500 hover:underline">
          Ver repositorio
        </a>
        <a href={proyect.url} class="mt-4 text-blue-500 hover:underline">
          Ver proyecto
        </a>
      </div>
    ))
  }
</section>
